<div class="player-list-container">
  <h1>Players</h1>

  <!-- Search Bar -->
  <div class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>Search Players</mat-label>
      <input matInput (input)="onSearch($event)" placeholder="Enter player name">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

   <!-- Error Message -->
   <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
  <div class="player-grid">
    <mat-card *ngFor="let player of players" class="player-card" style="background-color: #e3f2fd;">
      <mat-card-header>
        <mat-card-title style="font-weight: bold;">
          <img 
            [src]="'https://flagcdn.com/' + getCountryCode(player.team).toLowerCase() + '.svg'" 
            [alt]="player.team"
            style="width: 32px; height: 24px; margin-right: 5px; vertical-align: middle;"
          >
          {{player.name}}
        </mat-card-title>
        <mat-card-subtitle style="font-weight: bold;">
          {{player.team}}
        </mat-card-subtitle>
      </mat-card-header>
      <!-- <mat-card-actions>
        <button mat-button color="primary">
          <mat-icon>add</mat-icon>
          Add
        </button>
        <button mat-button color="warn">
          <mat-icon>visibility</mat-icon>
          View
        </button>
      </mat-card-actions> -->
    </mat-card>
  </div>

  <!-- Load More button -->
  <div class="load-more-container" *ngIf="hasMorePlayers">
    <button mat-raised-button color="primary" (click)="loadMorePlayers()" [disabled]="loading">
      <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
      <span>Load More Players</span>
    </button>
  </div>

  <button mat-fab color="primary" class="add-button">
    <mat-icon>add</mat-icon>
  </button>
</div>
